.footer_section {
    background-color: #a5d98f;
    padding         : 10px;
    position        : fixed;
    width           : 100%;
    bottom          : 0;

    p {
        text-align: center;
        margin    : 0;
    }
}